@media screen and (max-width:1000px ) {
header   nav .nav-center .menu{
        display: none;
    
    }
header   nav .nav-center{

}
main .line-title span{
   width: 30vw;
}
main .line-title h1{
    font-size: 15px;
}
.slider .buttons{
    margin-left: 310px;
    bottom: 23px;
}
.nav-center .nav-logo{
    /* padding-right: 80px; */
    align-items: center;
}
nav #sideNav{
    display: block;
    margin-top: 30px;
}
#menuBtn img{
    display: block;
    margin-top: 30px;
}
.Seasonal-products{
  


}
.Seasonal-products div{

    /* width: 25vw !important;
    height: 20vh  !important; */
 

}


.Seasonal-products img{
    /* width: 25vw !important;
    height: 20vh  !important; */
}
.show {
    position:static;
    right: 0;
    left: 0;
  }
}
@media screen and (max-width:760px ) {
    header   nav .nav-left .remove{
           display: none;
        }
    header   nav .nav-center {
    }
    .slider .slides .item .pic{
        width: 100vw;
        height: 70vh;

    }
    .slider .slides .item .pic-off{
        width: 100vw;
        height: 40vh;

    }
    .slider .buttons{
        margin-left: 10px;
        top:350px;
    }
    main .line-title span{
        width: 28vw;
    }
    main .line-title h1{
        font-size: 2.1vw;
    }
    main .products-group{

    }
    .products-group{
      flex-direction: row;
      flex-wrap: wrap;
    }
    .products-group .img-group img{
        width: 48vw;
        height: 100%; 
      
    }
    .nav-center .nav-logo{
        padding-right: 80px;
    }
    nav #sideNav{
        display: block;
        margin-top: 30px;
    }
    #menuBtn img{
        display: block;
        margin-top: 30px;
    }

    .Seasonal-products{
  
display: grid;

    }
    .Seasonal-products div{
    
        width: 100% !important;
        height: 100%  !important;
     
    
    }
    
    
    .Seasonal-products img{
      
        width: 100% !important;
        height: 100% !important;
    }
    main .sticky-link{
        display: flex;
        transition: all 1s;
        position: fixed;
        bottom: 0;
        right: 2;
        left:0;
    }
    .icon-top .to-top.active{
    z-index: 100; 
   
  bottom: 60px;
}
    }